/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap'); */

/* Root css varialbes for colors */
:root{
    --text-color-white: rgb(221,221,221);
    --header-container: rgb(14,17,18);
    --main-container: rgb(14,17,18);
    --input-container: rgb(15,15,15);
    --button-container: rgb(19,18,21);
    --correct-word-color: rgb(72,131,109);
    --incorrect-word-color: rgb(121,31,49);
    --scramble-letter-color: rgb(8,91,33);
    --body-bg-color: rgb(35,39,42);
    --lightbulb-color: rgb(253,243,68);
    --reset-text-color: steelblue;
}

body{
    caret-color: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--body-bg-color);
    color: var(--text-color-white);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Container box starts here */
.Container{
    border: 2px solid var(--header-container);
    border-radius: 0.6rem;
    box-sizing: border-box;
    width: 80%;
    height: max-content;
    margin: 3.5rem auto;
    padding: 0rem 0rem;
    display: none;
}

/* Container box ends here */

/* Inner first container starts here */
.InnerContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    margin: 0rem auto;
    padding: 0.2rem 0.4rem;
    height: 20%;
    background-color: var(--header-container);
    animation: InnerContainerSlideDown 1.2s ease-in-out forwards;
}

@keyframes InnerContainerSlideDown {
    0%{
        transform: translateY(-800px) scale(0.7);
        -webkit-transform: translateY(-800px) scale(0.7);
        opacity: 0.5;
    }
    80%{
        transform: translateY(0px) scale(0.5);
        -webkit-transform: translateY(0px) scale(0.5);
        opacity: 0.7;
    }
    100%{
        transform: translateY(0px) scale(1);
        -webkit-transform: translateY(0px) scale(1);
        opacity: 1;
    }
}

.ScrambleWordsContent{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    width: max-content;
    padding: 0.4rem 0.4rem;
    margin: 0.2rem 0.5rem;
}

.ScrambleContent{
    padding: 0rem 0rem;
}

.ScrambleContent h3{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

.WordsContent{
    width: max-content;
    text-align: center;
    padding: 0rem 0.4rem;
    height: 4.6rem;
}

.word{
    border: 1px solid var(--text-color-white);
    border-radius: 0.2rem;
    padding: 0.1rem 0.1rem;
    height: 1.2rem;
    width: 1.2rem;
    font-size: 1.2rem;
    background-color: rgb(66, 185, 50);
    color: var(--header-container);
}

.word1{
    transform: rotate(-8deg);
}

.word2{
    transform: rotate(10deg);
}

.word3{
    transform: rotate(-8deg);
}

.word4{
    transform: rotate(10deg);
}

.word5{
    transform: rotate(-8deg);
}

.ScoreCounter p{
    background-color: var(--body-bg-color);
    border-radius: 0.2rem;
    margin: 0;
    padding: 0.2rem 0.2rem;
    font-size: 1.2rem;
}

.fa-lightbulb{
    cursor: pointer;
    background-color: var(--body-bg-color);
    border-radius: 0.2rem;
    padding: 0.2rem 0.2rem;
    font-size: 1.3rem;
}

.fa-lightbulb:hover{
    color: var(--lightbulb-color);
}

/* Inner first container ends here */

/* Level selector starts here */
.LevelSelector{
    position: absolute;
    top: 40%;
    left: 0.5%;
    transform: translate(0.5%,40%);
}

#LevelSelector{
    border: none;
    background-color: var(--body-bg-color);
    color: var(--text-color-white);
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
}

#LevelSelector option{
    background-color: var(--header-container);
}

/* Level selector ends here */

/* Inner second container starts here */
.InnerContainer2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    padding: 0.2rem 0.2rem;
    margin: 0.1rem 0rem;
    height: 32vh;
    animation: InnerContainer2FadeIn 6s ease-in-out forwards;
}

@keyframes InnerContainer2FadeIn {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

.DiplayedWordsContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    box-sizing: border-box;
    width : auto;
    margin: 0.2rem auto;
}

.AlertMessage p{
    margin: 0;
    padding: 0;
}

.AlertCorrect{
    color: yellowgreen;
}

.AlertIncorrect{
    color: orangered;
}

.AlertMessage{
    display: none;
    box-sizing: border-box;
    width: 76%;
    margin: 0rem auto;
    padding: 0.2rem 0.2rem;
    text-align: center;
    margin-bottom: 0.1rem;
}

.GuideLineword h4{
    margin: 0;
    padding: 0;
}

.GuideLineword{
    box-sizing: border-box;
    width: 76%;
    margin: 0rem auto;
    padding: 0.2rem 0.2rem;
    height: max-content;
    text-align: center;
}

.scrambleletter{
    border-radius: 0.4rem;
    padding: 0rem 0.2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.6rem;
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    text-align: center;
    margin: 0.2rem 0.4rem;
    text-transform: uppercase;
    background-color: var(--header-container);
}

/* Inner second container ends here */

/* Inner third container starts here */
.InnerContainer3{
    box-sizing: border-box;
    padding: 0.2rem 0.2rem;
    height: auto;
}

.WordInputContainer{
    box-sizing: border-box;
    border: 1px solid var(--text-color-white);
    border-radius: 0.2rem;
    width: 100%;
    padding: 0.2rem 0.1rem;
    animation: WordInputContainerSlideRight 2.2s ease-in-out forwards;
}

@keyframes WordInputContainerSlideRight {
    0%{
        transform: translateX(-1200px) scale(0.7);
        -webkit-transform: translateX(-1200px) scale(0.7);
    }
    80%{
        transform: translateX(0px) scale(0.5);
        -webkit-transform: translateX(0px) scale(0.5);
    }
    100%{
        transform: translateX(0px) scale(1);
        -webkit-transform: translateX(0px) scale(1);
    }
}

#WordInput{
    box-sizing: border-box;
    outline: none;
    border: none;
    width: 100%;
    height: 2.4rem;
    caret-color: var(--text-color-white);
    color: green;
    font-size: 1rem;
    background-color: var(--input-container);
}

.ButtonsContainer{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    box-sizing: border-box;
    width: 100%;
    padding: 0.1rem 0.1rem;
    margin: 0.1rem 0rem;
    animation: ButtonsContainerSlideUp 1.2s ease-in-out forwards;
}

@keyframes ButtonsContainerSlideUp {
    0%{
        transform: translateY(800px) scale(0.7);
        -webkit-transform: translateY(800px) scale(0.7);
        opacity: 0.5;
    }
    80%{
        transform: translateY(0px) scale(0.5);
        -webkit-transform: translateY(0px) scale(0.5);
        opacity: 0.7;
    }
    100%{
        transform: translateY(0px) scale(1);
        -webkit-transform: translateY(0px) scale(1);
        opacity: 1;
    }
}

.ButtonsContainer{
    font-size: 0.8rem;
}

.EnterButton h2{
    margin: 0;
    padding: 0;
}

.EnterButton h2:hover{
    margin-top: 0.1rem;
    transition: all 0.6s;
    opacity: 0.8;
}

.EnterButton{
    box-sizing: border-box;
    border: 1px solid var(--text-color-white);
    border-radius: 0.4rem;
    width: 50%;
    height: max-content;
    text-align: center;
    padding: 0.4rem 0rem;
    margin: 0.1rem 0rem;
    cursor: pointer;
    background-color: var(--body-bg-color);
}

.EnterButton:hover{
    background-color: var(--header-container);
}

.NextButton h2{
    margin: 0;
    padding: 0;
}

.NextButton h2:hover{
    margin-top: 0.2rem;
    transition: all 0.6s;
    opacity: 0.8;
}

.NextButton{
    box-sizing: border-box;
    border: 1px solid var(--text-color-white);
    border-radius: 0.4rem;
    width: 50%;
    height: max-content;
    text-align: center;
    padding: 0.4rem 0rem;
    margin: 0.1rem 0rem;
    cursor: pointer;
    background-color: var(--body-bg-color);
}

.NextButton:hover{
    background-color: var(--header-container);
}

.ResetButton h2{
    margin: 0;
    padding: 0;
}

.ResetButton h2:hover{
    margin-top: 0.2rem;
    transition: all 0.6s;
    opacity: 0.8;
    color: var(--reset-text-color);
}

.ResetButton{
    box-sizing: border-box;
    border: 1px solid var(--text-color-white);
    border-radius: 0.4rem;
    width: 50%;
    height: max-content;
    text-align: center;
    padding: 0.4rem 0rem;
    margin: 0.1rem 0rem;
    cursor: pointer;
    background-color: var(--body-bg-color);
}

.ResetButton:hover{
    background-color: var(--header-container);
}

.ExitButton h2{
    margin: 0;
    padding: 0;
}

.ExitButton h2:hover{
    margin-top: 0.2rem;
    transition: all 0.6s;
    opacity: 0.8;
    color: var(--incorrect-word-color);
}

.ExitButton{
    box-sizing: border-box;
    border: 1px solid var(--text-color-white);
    border-radius: 0.4rem;
    width: 50%;
    height: max-content;
    text-align: center;
    padding: 0.4rem 0rem;
    margin: 0.1rem 0rem;
    cursor: pointer;
    background-color: var(--body-bg-color);
}

.ExitButton:hover{
    background-color: var(--header-container);
}

/* Inner third container ends here */

/* Home scramble words section starts here */
.HomeScrambleWordsContent{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    width: max-content;
    padding: 0.4rem 0.4rem;
    margin: 0.2rem 0.5rem;
}

.HomeScrambleContent{
    padding: 0rem 0rem;
}

.HomeScrambleContent h3{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

.HomeWordsContent{
    position: relative;
    width: max-content;
    text-align: center;
    padding: 0rem 0.4rem;
    height: 4.6rem;
    animation: HomeWordsContentslideDown 1.2s ease-in-out forwards;
}

@keyframes HomeWordsContentslideDown{
    0%{
        transform: translateY(-800px) scale(0.7);
        -webkit-transform:translateY(-800px) scale(0.7);
    }
    80%{
        transform: translateY(0px) scale(0.5);
        -webkit-transform:translateY(0px) scale(0.5);
    }
    100%{
        transform: translateY(0px) scale(1);
        -webkit-transform:translateY(0px) scale(1);
    }
}

.Homeword{
    border: 1px solid var(--text-color-white);
    border-radius: 0.2rem;
    padding: 0.1rem 0.1rem;
    height: 1.2rem;
    width: 1.2rem;
    font-size: 1.2rem;
    background-color: rgb(66, 185, 50);
    color: var(--header-container);
}

.HomeMainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid var(--text-color-white);
    border-radius: 0.4rem;
    width: 80%;
    margin: 3.5rem auto;
    padding: 0.4rem 0.4rem;
    height: 80vh;
    gap: 0.8rem;
}

#PlayButton{
    width: 7rem;
    height: 2rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border: 1px solid black;
    border-radius: 0.4rem;
    background-color: var(--header-container);
    color: var(--text-color-white);
}

#PlayButton:hover{
    color: var(--correct-word-color);
    background-color: var(--body-bg-color);
    border: 1px solid var(--text-color-white);
    padding-top: 0.2rem;
}

.PlayButton{
    animation: PlayButtonSlideUp 1.2s ease-in-out forwards;
}

@keyframes PlayButtonSlideUp {
    0%{
        transform: translateY(800px) scale(0.7);
        -webkit-transform: translateY(800px) scale(0.7);
    } 
    80%{
        transform: translateY(0px) scale(0.5);
        -webkit-transform: translateY(0px) scale(0.5);
    }   
    100%{
        transform: translateY(0px) scale(1);
        -webkit-transform: translateY(0px) scale(1);
    }      
}

/* Home scramble words section ends here */

/* Media queries starts here */
@media (max-width: 768px){
    .InnerContainer2{
        height: 36vh;
    }

    .ScrambleContent h3{
        font-size: 1.4rem;
        letter-spacing: 0.3rem;
    }

    .ScrambleWordsContent{
        margin: 0.2rem 0.2rem;
    }

    .word{
        height: 1rem;
        width: 1rem;
        font-size: 1rem;
    }

    .ScoreCounter p{
        font-size: 1rem;
    }
    
    .fa-lightbulb{
        background-color: var(--header-container);
        font-size: 1.2rem;
    }

    .scrambleletter{
        border-radius: 0.3rem;
        height: 1.8rem;
        width: 1.8rem;
        font-size: 1.8rem;
    }

    .AlertMessage p{
        font-size: 0.9rem;
    }

    .GuideLineword h4{
        font-size: 0.9rem;
    }

    .WordInputContainer{
        background-color: var(--header-container);
    }

    #WordInput{
        height: 1.8rem;
        font-size: 0.8rem;
    }

    .ButtonsContainer{
        font-size: 0.7rem;
    }
    
}

@media (max-width: 530px){
    .InnerContainer2{
        height: 30vh;
    }

    .ScrambleContent h3{
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
    }

    .ScrambleWordsContent{
        margin: 0.2rem 0rem;
        margin-left: -0.2rem;
    }

    .word{
        height: 0.8rem;
        width: 0.8rem;
        font-size: 0.8rem;
    }

    .ScoreCounter p{
        font-size: 0.9rem;
    }
    
    .fa-lightbulb{
        background-color: var(--header-container);
        font-size: 1rem;
    }

    #LevelSelector{
        font-size: 0.76rem;
    }
    
    #LevelSelector option{
        font-size: 0.76rem;
    }

    .scrambleletter{
        border-radius: 0.2rem;
        height: 1.2rem;
        width: 1.2rem;
        font-size: 1.2rem;
    }

    .AlertMessage p{
        font-size: 0.8rem;
    }

    .GuideLineword h4{
        font-size: 0.8rem;
    }

    .WordInputContainer{
        background-color: var(--header-container);
    }

    #WordInput{
        height: 1rem;
        font-size: 0.8rem;
    }

    .ButtonsContainer{
        font-size: 0.5rem;
    }
}

/* Media queries ends here */


